/Alquiler.class
/Cliente.class
/Estilo.class
/Excepcion.class
/FuncionCliente.class
/FuncionPelicula.class
/FuncionVideojuego.class
/Genero.class
/Main.class
/Pelicula.class
/Plataforma.class
/Producto.class
/Videojuego.class
